#heading {
    font-size: 4rem;
    text-align: center; 
color: red}

p { color: blue; }

#body-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    padding: 2rem; 
    font-family: 'Roboto', sans-serif;
    

}

#chart-container {
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    padding: 10px; 
    gap: 20px; 
    border: 1px solid black; 
    
}

#number-input {
    font-family: 'Roboto', sans-serif;

}
button {
    grid-column: span 2;
    font-family: 'Roboto', sans-serif;
}

#result-div {
    grid-column: span 2; 
    text-align: center 
}